<div class="dropdown-menu">
  <button
    class="dropdown-menu__button"
    aria-haspopup="listbox"
    aria-labelledby="dropdown-label"
    (click)="toggleDropdown()"
    (clickOutside)="dropdownOpen = false"
  >
    <span id="dropdown-label" class="dropdown-menu__img"
      ><svg class="bi" width="32" height="32">
        <use xlink:href="bootstrap-icons.svg#person-circle" />
      </svg> </span
    ><span class="dropdown-menu__value"
      ><i class="bi bi-chevron-compact-down"></i
    ></span>
  </button>
  <ul
    class="dropdown-list"
    role="listbox"
    aria-expanded="false"
    [ngClass]="{ 'dropdown-open': dropdownOpen }"
  >
    <li
      *ngFor="let o of options"
      [ngClass]="{ selected: currentValue === o }"
      tabindex="0"
      (click)="select(o)"
      role="option"
      [innerHTML]="o.name"
    ></li>
  </ul>
</div>
