<header class="nav-container">
  <nav class="container">
    <a href="" class="logo">
      <img src="" alt="" class="logo__image" />
      <span class="logo__label">Dating aplication</span>
    </a>
    <ul class="nav" *ngIf="authenticated">
      <li class="nav__item" (click)="onRouter('members')">Matches</li>
      <li class="nav__item" (click)="onRouter('lists')">Lists</li>
      <li class="nav__item" (click)="onRouter('messages')">Messages</li>
    </ul>
    <ul class="log">
      <li *ngIf="!authenticated" class="log__item">
        <button (click)="onRouter('auth')">LogIn</button>
      </li>
      <li *ngIf="authenticated" class="log__item">
        <app-dropdown-user
        *ngIf="authenticated"
          (logout)="onLogout()"
          (currentValueChange)="dropdownValueChanged($event)"
        ></app-dropdown-user></li>
    </ul>
  </nav>
</header>
