*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;

  margin: 0px;
}
p {
  margin: 0;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}
ul {
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}